<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Feedback</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">    <style>
      body{
        align-items: center;
        text-align: center;
      }
      .container{
        margin: 5% auto;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-light bg-light">
      <a href="/"><span class="navbar-brand mb-0 h1">Feedback</span></a>
      {% if 'username' in session %}
      <a class="nav-link" href="/logout">Logout</a>
      {% else %}
      <a class="nav-link" href="/login">Login</a>
      {% endif %}
    </nav>
    <div class="container text-center mt-5">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
